[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/periphery-next"]
	path = lib/periphery-next
	url = https://github.com/Uniswap/periphery-next
